*.svn
*.idea
*.user
*.docx
*.vs
*.vsmdi
*.cmd
*.testsettings
*.old
*.suo
ApiDocs.sc
node_modules
bin
obj
packages
_temp
Unused
TestResults
_ReSharper*

GetFtpCredential.ps1

breeze-*.zip
breeze*.nupkg

ApiDocs/html
